<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
            rel="stylesheet"
    />
</head>
<body
        style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
>
<div
        style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      "
>
    <header>
        <h1 th:utext="${title}"></h1>
    </header>
    <main>
        <div
                style="
            margin: 0;
            margin-top: 70px;
            padding: 92px 30px 115px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
          "
        >
            <div style="width: 100%; max-width: 489px; margin: 0 auto">
                <h1
                        style="
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                color: #1f1f1f;
              "
                >
                    YÊU CẦU XÁC THỰC EMAIL
                </h1>
                <p
                        style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
                >
                    Mã xác thực của bạn là:
                </p>
                <p
                        style="
                margin: 0;
                margin-top: 20px;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 25px;
                color: #ba3d4f;
              "
                >
                <h2 th:utext="${otp}"></h2>
                </p>
                <p
                        style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
                >
                    Cảm ơn bạn vì đã lựa chọn <span style="font-weight: 600; color: #1f1f1f">LifeForm</span>. Vui lòng sử
                    dụng mã OTP này để hoàn tất đăng kí. Mã OTP sẽ hết hạn trong
                    <span style="font-weight: 600; color: #1f1f1f">5 phút</span>. Lưu
                    ý không chia sẻ mã với bất kì ai. Nếu bạn không thực hiện yêu cầu
                    này vui lòng bỏ qua email này.
                </p>
            </div>
        </div>

        <p
                style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 90px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
            Mọi thắc mắc xin liên hệ:
            <a
                    href="mailto:archisketch@gmail.com"
                    style="color: #499fb6; text-decoration: none"
            >lifeform8080@gmail.com</a
            >
        </p>
        <p
                style="
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
            hoặc
        <p style="color: #499fb6; text-decoration: none; text-align: center; font-weight: 500; margin-top: 0;">0123456789</p>
        </p>
    </main>

    <footer
            style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        "
    >
        <p
                style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          "
        >
            Công Ty Thời Trang LifeForm
        </p>
        <p style="margin: 0; margin-top: 8px; color: #434343">
            Địa chỉ Nam Từ Liêm, Hà Nội
        </p>
        <div style="margin: 0; margin-top: 16px">
            <a href="https://www.facebook.com/chuyennhatrongoikienvanghanoi1107" target="_blank" style="display: inline-block">
                <img
                        width="36px"
                        alt="Facebook"
                        src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661502815169_682499/email-template-icon-facebook"
                />
            </a>

        </div>
    </footer>
</div>
</body>
</html>
